div{
    background-color:peru;
    background-image: url(../images/naza.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1{
    color: black
}
h3{
    color: brown
}
p{
    color: darkgreen;
    text-align: center;
    text-transform: capitalize;
    text-indent: 50px;
    font-size: 20px;
    line-height: 40px;
    font-style: oblique;
}
h3{
    font-style: italic
}
.preferred{
    color: black;
    font-size: 35px;
    font-style: oblique
}
#exception{
    color: blue
}